.navList {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(56, 15, 15);
  max-height: 400px;
  width: 453px;
  padding: 20px;
  line-height: 1.5;
  transform: translateY(-200px);
  transition: transform 1s ease-in-out;
  z-index: 1000;
}

.navItem {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.navBox {
  height: inherit;
}

.centerBox {
  margin-top: 10px;
  text-align: center;
  color: white;
}
