* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  color: white;
}

.container-fluid {
  background-color: #111418;
  min-height: 100vh;
  font-family: 'Khand', sans-serif;
  font-size: 20px;
}

main {
  min-height: 100%;
  margin-top: 5vh;
  margin-bottom: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main:after {
  content: "";
  display: block;
  height: -12vh;
}

section {
  justify-content: space-between;
  margin: 0 auto;
  padding: 5%;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
}

ol::-webkit-scrollbar {
  display: none;
}

li {
  left: 0;
  text-align: left;
  outline: 1px solid #96290D;
}

.toggleSwitch {
  height: inherit;
}

.innerToggleSwitch {
  display: none;
}

.mainSections {
  background-image: linear-gradient(#1C2127, #D33D17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
}

.mainRow {
  top: 0;
}

.songInfoDiv {
  margin-top: 0;
}

.playlist-carousel {
  justify-content: center;
  padding: 2%;
  z-index: 0;
}

.playlistImageDiv {
  min-height: auto;
  max-height: 400px;
}

.buttonDiv {
  min-height: auto;
  max-height: 250px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  cursor: pointer;
}

.carousel-item {
  max-width: 500px;
  height: 300px;
}

.carousel-caption {
  left: 6%;
  transform: translateX(-6%);
  width: 100%;
  padding: 5%;
  background: rgba(64, 72, 84, .5);
}

.tracklist {
  min-height: auto;
  max-height: 155px;
  overflow-y: auto;
}

.loader {
  z-index: 1001;
  display: block;
}

.errorDiv {
  z-index: 1001;
  display: block;
}

.nonError {
  z-index: -1001;
  display: none;
}

.nonLoader {
  z-index: -1001;
  display: none;
}

@media screen and (min-width: 1000px) {
  body {
    overflow: hidden;
  }

  main {
    min-height: 92%;
    margin: 0 auto;
  }

  .container-fluid {
    font-size: 15px;
  }

  .toggleSwitch {
    display: flex;
    justify-content: space-between;
  }

  .innerToggleSwitch {
    display: flex;
    margin-top: 1%;
  }

  .mainRow {
    margin-top: 1%;
  }

  .row {
    flex-direction: row;
  }
}

/* @media screen and (max-width: 1000px) {
} */