* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  color: white;
}

.container-fluid {
  background-color: #111418;
  height: 100%;
}

main {
  min-height: 100%;
  margin-top: 5vh;
  margin-bottom: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main:after {
  content: "";
  display: block;
  height: -12vh;
}

section {
  justify-content: space-between;
  margin: 0 auto;
  padding: 5%;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
}

img {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: column;
}

.mainRow {
  top: 0;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  cursor: pointer;
}

.carousel-item {
  max-width: 500px;
  height: 300px;
}

.carousel-caption {
  left: 6%;
  transform: translateX(-6%);
  width: 100%;
  padding: 5%;
}

@media screen and (min-width: 1000px) {
  body {
    overflow: hidden;
  }

  main {
    min-height: 92%;
    margin: 0 auto;
  }

  .mainRow {
    margin-top: 1%;
  }

  .row {
    flex-direction: row;
  }
}

/* @media screen and (max-width: 1000px) {
} */