html, body {
  height: 100%;
  color: white;
  overflow: hidden;
}

main {
  max-height: 100%;
  margin-bottom: -8vh;
}

main:after {
  content: "";
  display: block;
  height: 8vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 5%;
  min-height: 100%;
  outline: 1px solid red;
  text-align: center;
}
