html, body {
  height: 100%;
  color: white;
}

main {
  min-height: 100%;
  margin-top: -8vh;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {  
  body {
    overflow: hidden;
  }

  main {
    margin-top: 0;
    min-height: 92%;
  }
  
  main:after {
    content: "";
    display: block;
    height: -12vh;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    padding: 5%;
    min-height: 100%;
    min-width: 100%;
    /* outline: 1px solid red; */
    text-align: center;
  }
}
