html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -8vh;
}

main:after {
  content: "";
  display: block;
  height: 8vh;
}

footer {
  min-width: 100%;
}